@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import "variables.css";
body{
    font-family: 'Ubuntu', sans-serif;
    color: var(--full-body-normal-text);
}
.custom-light-grey{
    color: var(--custom-light-grey);
}
.font-big{
    font-size: 2rem;
}
.font-big-small{
    font-size: 1.3rem;
}
.list-group li{
    border: 0 none;
}